@{
    ViewData["Title"] = "Index";
    <link rel="stylesheet" href="~/css/estilos.css" />
}

<div>
    <h1>Bienvenidos al ahorcado</h1>
    <img src="/Imagenes/MORGAN.jpg" alt="La banda del morgan " />
    <h3>Eliga La dificultad</h3>
    <form action ='@Url.Action("ComenzarJuego","Home") ' method = "post">
    <select name="modo">
    <option value="Dificil">Dificil</option>
    <option value="Normal">Normal</option>
    <option value="Facil">Facil</option>
</select>
<input  type = "submit" name = "Enviar" >
</form>
<footer>
    <p> La Banda del Morgan  </p>
</footer>

</div>